<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088722759325-k1bbj1ha1h82q392hki3298ovuko2l0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088722759325-k1bbj1ha1h82q392hki3298ovuko2l0q</string>
	<key>API_KEY</key>
	<string>AIzaSyDze1QP76am6UR3MVfiB0Q0uqw1kBiJAn0</string>
	<key>GCM_SENDER_ID</key>
	<string>1088722759325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNote</string>
	<key>PROJECT_ID</key>
	<string>mynote-cf629</string>
	<key>STORAGE_BUCKET</key>
	<string>mynote-cf629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088722759325:ios:93f775e17313186c6aee74</string>
</dict>
</plist>